{% include "header" %}

<h2>{{ mod.title }}</h2>

<a href="/mod/{{ mod.author }}/{{ mod.basename }}/">{{ mod.title }}</a>
by
{{ mod.author }}
<br />

<p>
	{{ mod.description | truncate: 100, '…' }}
</p>
<a href="{{ mod.download.url }}">Download</a> |
<a href="{{ mod.forum_url }}">Forum Topic</a> |
<a href="/mods/?a={{ mod.author }}">{{ mod.author }}'s mods</a>

<h3>Jobs</h3>

<ul>
{% for work in mod.works %}
<li>{{ work.work_type }}
	[{% if work.workerId %}assigned to worker {{ work.workerId}}{% else %}Queued{% endif %}]</li>
{% else %}
<li><i>No jobs in progress</i></li>
{% endfor %}
</ul>

{% include "footer" %}
